{% extends "WebSiteFrontEndBundle::base.html.twig" %}

{% block body_base %}
    <div id="content" role="main">
        <div class="page type-page status-publish hentry">
            <h1 class="entry-title"> {{article.title}}</h1>
					
            <div class="entry-content">
                {{article.description|raw}}
            </div><!-- .entry-content -->
	</div><!-- #post-## -->
		    
    </div>
{% endblock %}
{% block item_base %}
    {%if article.childrens|length >0 %}
        <div class="sidebar-nav-container">
             <ul class="sidebar-nav">
                {%for art in article.childrens %}
                    <li class="page_item ">
                        <a href="{{path('showArticle',{'title':art.title})}}">{%if art.childrens|length >0 %}<span class="showSubArticles glyphicon glyphicon-chevron-right" attr-id="{{art.id}}"></span>{% endif %}{{art.title}}</a>
                    </li>
                    {%if art.childrens|length >0 %}
                    <ul id="subArticles-{{art.id}}" class="display-none">
                        {%for a in art.childrens %}
                            <li class="page_item "><a href="{{path('showArticle',{'title':a.title})}}">{{a.title}}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}
             </ul>
         </div>
    {% endif %}
{% endblock %}